<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  
  margin: 0;
}


 .button {
  border: none;
  color: black;
  padding: 13px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: 15px;
  border-radius: 12px;
  position: absolute;
  top: 86%;
  left: 76%;
  background-color: #C4C4C4;
  font-family: Times New Roman;
}
.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

</head>
<body >

   <img src="{{url_for('static', filename='add_img.jpg')}}" align="middle" height=" 690px" background-position= "center" background-size=" cover"  width= "1260px" />
   <div class="centered" style="font-size:20px ;font-family: Times New Roman "> you have uploaded {{ uplouded }} images to the dataset</div>
<p align="center"><a href=HomePage ><button  class="button button2"  >OK</button></a></p>
</html>